footer {
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 1px solid  #CCCCCC;
    margin-top: -100px;
    
}